<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Revel</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

    body {
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 40px 0;
      background-color: #f9f9f9;
      color: #333;
    }

    .header {
      text-align: left;
      background-color: #f0f0f0;
      padding: 20px;
    }

    .header h1 {
      font-size: 32px;
      margin: 0;
    }

    .content {
      padding: 20px;
      background-color: #fff;
      margin: 0 auto;
      max-width: 600px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    .content p {
      font-size: 16px;
      line-height: 1.5;
      margin: 0 0 15px;
    }

    .credentials {
      font-weight: bold;
      margin-top: 10px;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .footer {
      text-align: left;
      padding: 20px;
      font-size: 14px;
      color: #555;
    }
  </style>
</head>
<body>
  <div class="content">
    <p>Hello <%= body.name %>,</p>

    <p>An <%= body.type %> has been created for you. Please review the details below:</p>

    <p class="credentials"><%= body.type %> Number: <%= body.invoiceNumber %></p>
    <p class="credentials">Total Amount: <%= body.amount %></p>
    <p class="credentials">Due Date: <%= body.due %></p>

    <% if (body.type === 'invoice') { %>
      <p>To pay with a card, click this link: <a href="<%= body.invoiceUrl %>">Card Payment</a></p>
      <p>Or explore other payment options here: <a href="<%= body.paymentOptions %>">Other Payment Options</a></p>
    <% } %>
    <!-- <p>Or explore other payment options here: <a href="<%= body.otherPaymentOptionsLink %>">Other Payment Options</a></p> -->
    <br>
    <p>To efficiently manage your invoices, estimates and previous payments, please use this  <a href="<%= body.onboardUrl %>">link</a> to onboard onto our platform.</p>
    <p>If you have any questions or need assistance, feel free to reach out. We're here to help!</p>
  </div>
  <footer class="footer">
    <p>Thanks,</p>
    <p>Revel</p>
  </footer>
</body>
</html>
